<% if goals.any? %>
  <div id="goals">
    <% goals.each do |g| %>
      <div class="goal">
        <h3><%= g.title %></h3>
        <p><%= g.description %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">It looks like there aren't any goals yet</p>
<% end %>

<%= link_to 'Add a goal', '/goals/new' %>
